@use "@styles/base" as *;
.container {
  width: 100%;
  height: 5rem;
  background-color: rgb(2, 22, 88);
  background-image: url("../../assets/images/hero/hero-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include flex;
  position: relative;
  border-bottom: #05155e 1px solid;
}
.home {
  height: 18rem;
}
.logo-navbar-container {
  top: 1%;
  position: absolute;
  width: $full;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  @include flex(row, space-between);
}
.home-lnc {
  top: 5%;
  height: 40%;
}
