@use "@styles/base" as *;
.container {
  width: 70%;
  height: $full;
  @include flex($justify: flex-start);

  color: #000;
}
.heading {
  text-align: center;
  margin-bottom: 45px;
  color: #000;
}
.feature-container {
  margin-bottom: 50px;
  width: 80%;
  @include flex(row, space-between);

  &:nth-child(even) {
    flex-direction: row-reverse;
  }
}
.img-div {
  margin: 0;
  height: 100px;
  width: 100px;
  @include flex;
  img {
    height: $full;
    width: $full;
  }
}
.desc-container {
  margin-top: 0;
  width: 50%;
  @include flex($align: start);
  h3 {
    text-align: start;
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 3px;
  }
  p {
    margin: 0;
    text-align: start;
  }
}
