@use "@styles/base" as *;
.container {
  height: 100%;
  width: 100%;
  // @include flex(row, space-between, flex-start);
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  padding: 50px;
}
.heading {
  width: 60%;
  border-radius: 20px;
  background-color: rgb(165, 42, 42);
  box-shadow: 4px 4px 4px rgba(165, 42, 42, 0.5);
  border: rgba(165, 42, 42, 0.5) solid 1px;
  font-size: 2.3rem;
  color: #000;
}

.project-card {
  height: 500px;
  width: 550px;
  background: #ffffffb6;
  margin: 0 15px;
  border-radius: 45px;
  border: 2px solid #ffffffb6;
  color: #000000;
  padding: 0 10px;
  @include flex($justify: flex-start);
  box-shadow: 4px 4px 4px rgba($color: #000000, $alpha: 0.5);
  h2 {
    color: #000000;
    font-size: 1.6rem;
  }
}
.description {
  margin-top: 0;
  margin-bottom: 30px;
  width: 80%;
  height: 30px;
  font-size: 1.2rem;
}
.card-separator {
  width: 80%;
  height: 0px;
  margin: 0;
  color: #727272;
}
.features-container {
  height: 60%;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px 25px;
  padding: 10px;
}

.feature-holder {
  @include flex(row, flex-start);
  .feature-icon {
    height: 40px;
    width: 40px;
    margin-right: 8px;
  }
  .feature-title {
    font-weight: 700;
  }
}

.card-button {
  background-color: rgb(24, 75, 168);
  width: 60%;
  height: 40px;
  margin: 20px auto;
  border-radius: 50px;
  font-size: 1.2rem;
  padding: 0;
  font-weight: 700;
}

.add-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background: rgba(114, 1, 99, 0.3);
  border: none;
  font-size: 2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  transition: transform 0.2s ease-in-out;
  &:hover {
    background: rgba(218, 22, 191);
  }
}
