@use "@styles/base" as *;
.container {
  width: 80%;
  border: 1px solid black;
  border-radius: 20px;
  height: 100%;
  padding: 20px;
  background-color: #e9e9e9;
  * {
    color: black;
  }
}
.button {
  background-color: #04c977;
  @include flex(row, space-between);

  border-radius: 4px;
  &-edit {
    height: 40px;
    width: 100px;
  }
  &-add {
    height: 40px;
    width: 150px;
  }
  &-submit {
    height: 40px;
    width: 100px;
  }
  img {
    margin-right: 5px;
  }
  p {
    font-weight: 900;
  }
}
.description-container {
  background-color: #f7f7f7;
  width: 80%;
  border: none;
  border-radius: 5px;
  margin: 10px auto;
  padding: 10px 20px;
  height: max-content;
  p {
    text-align: start;
  }
}

.user-table-container {
  background-color: #f7f7f7;
  border: none;
  border-radius: 5px;
  width: 80%;
  margin: 10px auto;

  padding: 10px 20px;
  table {
    margin-bottom: 10px;
    border-collapse: collapse;
    font-size: 1.5rem;
    border-radius: 10px;
    th,
    td {
      border: 2px solid rgb(2, 69, 133); /* Increase thickness */
      padding: 4px;
      text-align: left;
    }
    th {
      background-color: #e4e3e3;
    }
  }
}

.input-section {
  width: $full;
  @include flex(row, flex-start);
  .input-container {
    width: 50%;

    @include flex(row, flex-start);
    gap: 4px;
  }
  input,
  select,
  button {
    height: 40px;
  }
  input,
  select {
    background-color: #f7f7f7;
    border-radius: 10px;
    font-size: 1rem;
  }
  input {
    padding: 5px;
  }
}

.operation-column {
  @include flex(row, space-around);
  font-size: 1.8rem;
}
