.container {
  border-radius: 50%;
  border: solid 2px white;
  height: 50%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin: 0 3px;
}

.img {
  width: 60%;
  height: 60%;
  margin: auto;
}
