@use "@styles/base" as *;
.container {
  width: 100%;
  height: 18rem;
  background-color: rgb(2, 22, 88);
  background-image: url("../../assets/images/hero/hero-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include flex;
  position: relative;
}
.logo-navbar-container {
  top: 5%;
  position: absolute;
  width: $full;
  height: 40%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  @include flex(row, space-between);
}
