@use "@styles/base" as *;
.container {
  width: 50%;
  height: 50%;
  background-color: hsla(0, 0%, 85%, 0.2);
  margin-left: 34%;
  padding: 0;
}

.container ul {
  margin: 0 auto;
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  @include flex(row, space-evenly);
  flex-wrap: wrap;
}

.container li {
  margin: 0;
  list-style-type: none;
  color: #ffffff;
  font-weight: 800;
}
