@use "@styles/base" as *;

.container {
  margin: 0 auto;
  padding: 30px 20px;
  width: 100%;
  min-height: 60rem;
  height: auto;
  @include flex(row);

  background: linear-gradient(135deg, #95c46c 0%, #da9857 100%);
}
.project {
  @include flex(column, flex-start);
}
