.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.spinner {
  position: relative;
  height: 20vh;
  aspect-ratio: 1/1;
  border: 15px solid rgb(189, 11, 11);
  border-radius: 50%;
  //   top: calc(100vh / 2 - 10vh);
  //   left: calc(100vw / 2 - 10vh);
  &::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #a6ff00;
    border-radius: 50%;
    top: -15px; /* Adjust the position to match a dot */
    left: 50%;
    transform: translateX(-50%);
  }
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
